@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Описание</h2>

    <p>
        Функционал системы оценки текста постепенно развивался и теперь это сложный процесс с множеством этапов.
        Также значительно выросло количество пользователей системы. Появились следующие проблемы:
        Процесс оценки текста занимает продолжительное время, что привело к увеличению времени ожидания ответа 
        пользователем. Нужно свести время ожидания пользователя к приемлемому уровню.
        Определённые этапы оценивания требуют специфичного дорогостоящего оборудования. 
        Вследствие монолитной реализации мы вынуждены разворачивать и выполнять на этом дорогостоящем оборудовании
        все этапы оценивания, что неэффективно с точки зрения финансовых затрат.
        Монолитный модуль оценки текста стал неудобен для развития и разворачивания новых версий.
    </p>
</div>

