@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Описание</h2>

    <p>
        Предоставляем пользователю новую функциональность : суммарный отчёт по обработанным текстам.
        Отчёт содержит в себе:
        общее количество всех обработанных текстов (TextNum);
        количество текстов с высокой оценкой (выше 0.5) (HighRankPart);
        средняя оценка (AvgRank).
    </p>
</div>

