@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Описание</h2>
    <h3>Ограничение пользования приложением</h3>
    <p>
        Количество пользователей нашего приложения увеличивается и самое время проект монетизировать.
        Для этого пользователи по прежнему будут иметь доступ ко всем функциям приложения, но уже в ограниченном объёме (за сутки можно оценивать не более определённого количества текстов). Для возможности пользоваться приложением сверх этого лимита пользователю предлагается приобрести платный абонемент.
        Замечание: на достижение лимита влияют только тексты, получившие метку «Успешный» (описано ниже).
    </p>
    <h3>Маркировка «успешности» текста</h3>
    <p>
        В системе появляется понятие Успешный текст, который зависит от ранга 
        (в будущем и от множества других критериев).
    </p>
</div>

