@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Описание</h2>

    <p>
        Делается на основе задания #5. Требуется реализовать сегментирование данных.
        Сегментированными данными будут данные, относящиеся к обработке текста - это сам текст и его оценка. 
        Ключ сегментирования – contextId. Узлами хранилища будут номера баз данных в Redis. 
        Доступ к Redis-хранилищу по contextId должен происходить предварительным определением номера базы данных
        по выбранной стратегии. Стратегия любая на выбор: поиска или хеширования.
        При обращении к базе данных Redis в консоль каждого компонента должен выводиться текст с contextId и 
        соотвутствующим номером базы.
    </p>
</div>

